@import "vars";

.footer {
  min-height: 157px;
  background-image: url("../images/footer.jpg");

  &__author {
    padding: 65px 889px 65px 0;
    font-family: $secondary-font;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: $light;
    align-items: center;
  }
}
